.git
.gitignore
.idea
.vscode
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
public/build
bootstrap/cache
*.log
.env
.env.*
!.env.example
docker-compose.override.yml
README.md
phpunit.xml
tests/
